.cards {
  display: flex;
  justify-content: space-between;
}

.card {
  width: 200px;
  padding: 20px;
  border: 1px solid #7d53de;
  box-shadow: 2px 2px 3px #01f0a4;
  text-align: center;
}

.card img {
  height: 100px;
}
